.login {
  height: 20%;
  width: 50%;
  // display: flex;
  // justify-content: center;
  margin: auto;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.example-button-row {
  display: flex;
  justify-content: right;
  width: 100%;
  padding: 10px;
}

.button-login {
  width: 100%;
}
